
.order-header {
    font-weight: 600;
}
.table th,
.table td {
    vertical-align: middle;
    text-align: center;
}
.highlight {
    background-color: #fff4f0;
}
.form-section {
    background: #f8f9fa;
    padding: 1rem;
    border-radius: 0.5rem;
}

.border-bottom-line {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.alert {
    border-radius: 0.35rem;
    padding: 6px 15px;
    letter-spacing: 0.7px;
}
.alert-danger {
    background: #ffefee;
    border-color: #ffefee;
    color: #FF4C41;
}